<div class="col-12">
    <div class="row">   
        <div class="col-2">
            <div class="col-12 chip chip-md bg-white">
                <img  src="http://localhost:3000/img/user/err.svg" onerror="this.src = 'http://localhost:3000/img/user/err.png">
                {{ comment.username }}  
            </div>
        </div>
        <div class="col-9 col-sm-9 d-flex align-items-center">
            <p class="text-center" ng-bind="comment.content">{{ Comment }}</p>
        </div>
    </div>
</div>