    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
          <svg class="img-fluid" width="40" height="40" viewBox="0 0 256 221" 
          xmlns="http://www.w3.org/2000/svg" 
          preserveAspectRatio="xMinYMin meet">
          <path d="M204.8 0H256L128 220.8 0 0h97.92L128 51.2 157.44 0h47.36z" fill="#41B883"/>
          <path d="M0 0l128 220.8L256 0h-51.2L128 132.48 50.56 0H0z" fill="#41B883"/>
          <path d="M50.56 0L128 133.12 204.8 0h-47.36L128 51.2 97.92 0H50.56z" fill="#35495E"/>
          </svg>
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarm">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home 
                <!--span class="sr-only">(current)</span-->
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/project">Project</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/project/user">My Projects</a>          
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/project">About</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto form-inline nav-flex-icons">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#request">
                <i class="fa fa-envelope"></i><span class="badge badge-primary badge-pill">N</span>
              </a>
            </li>
            <li class="nav-item avatar">
              <div class="dropdown" style="width: 4.5rem">
                <img class="img-fluid avatar dropdown-toggle px-3" id="dropdown-menu 4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :src="'/img/user/' + username + '.png'" onerror="this.src = '/img/user/default.png'" />   
                
                <div class="dropdown-menu dropdown-menu-right dropdown-purple" aria-labelledby="dropdownMenu4">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <a class="dropdown-item" href="/profile/settings">Settings</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </div>
            </li>
          </ul>
          <% include ./request.ejs %>
        </div>
      </div>
  </nav>
  <br>
  <br>
  <br>