<div class="text-left" ng-show="data">
  <div class="card">
    <h6 class="card-header bg-dark white-text"><span ng-bind="post.title"></span><span class="float-right" ng-bind="post.project"></span></h6>
    
    <div class="card-body">                            
      <div class="row">
        <div class="justify-content-center col-6 col-md-1">
          <div class="">
              <img src="{{ post.username }}" onerror="this.src = 'http://bit.ly/2gfuQXQ'" class="avatar img-fluid">
          </div>
          <strong class="hidden-md-down" ng-bind="post.username">{{ Username }}</strong>
        </div>
        <div class="col-12 col-sm-9 d-flex align-items-center">
          <p ng-bind="post.content">{{ content }}</p>
        </div>
      </div>
    </div>    

    <ul class="nav md-pills nav-justified pills-secondary">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panelC{{ $index }}" role="tab" ng-click="viewComments($index)">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panelB{{ $index }}" role="tab">...</a>
        </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in show active" id="panelB{{ $index }}" role="tabpanel">
      </div>
      <div class="tab-pane fade" id="panelC{{ $index }}" role="tabpanel">
          <div ng-repeat="comment in comments[$index]">
            <% include ../includes/comment.ejs %>
          </div>
          <div class="col-12" ng-show="comments[$index]">
            <div class="row">   
              <div class="col-1">
                <img  src="{{ user.bg }}" class="img-fluid" onerror="this.src = 'http://bit.ly/2gfuQXQ'">
              </div>
              <div class="col-10">
                <input type="text" name="title" id="comment{{ $index }}" class="form-control">
              </div>
              <div class="col-1">
                <a class="btn-floating btn-sm blue" ng-click="addComment($index)"><i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <!--div class="col-9 col-sm-9 d-flex align-items-center">
              <p class="text-center" ng-bind="comment.content">{{ Comment }}</p>
          </div-->
      </div>
    </div>
  </div>
</div>